body{

background:#111;
color:white;
text-align:center;
font-family:Arial;

}


#piano{

position:relative;
width:420px;
height:220px;
margin:40px auto;

}


.white{

position:absolute;

width:60px;
height:220px;

background:white;
border:1px solid black;

color:black;

display:flex;
align-items:end;
justify-content:center;

padding-bottom:10px;

box-sizing:border-box;

}


.black{

position:absolute;

width:38px;
height:130px;

background:black;

color:white;

z-index:10;

display:flex;
align-items:end;
justify-content:center;

padding-bottom:10px;

}


@media(max-width:500px){

#piano{

transform:scale(.8);

}

}
