*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:#090909;
color:white;
overflow-x:hidden;

}


/* TOP */

.top{

background:#151515;

padding:20px;

text-align:center;

border-bottom:1px solid #333;

}


.top h1{

color:#ffd54f;

font-size:32px;

margin-bottom:15px;

}



button{

padding:12px 22px;

background:#1976d2;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

}



/* INFO */

.info{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(170px,1fr));

gap:15px;

margin:20px;

}


.info div{

background:#181818;

padding:18px;

border-radius:12px;

border:1px solid #333;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.6);

}



#keyShow{

color:#4fc3f7;

font-size:22px;

font-weight:bold;

}


#chordShow{

color:#00e676;

font-size:28px;

font-weight:bold;

}



/* PIANO */

.pianoArea{

width:100%;

overflow-x:auto;

padding:30px 10px;

background:#111;

}



#piano{

position:relative;

height:270px;

margin:auto;

}



/* WHITE KEYS */

.white{

position:absolute;

top:0;

width:55px;

height:260px;

background:

linear-gradient(
90deg,
#ddd,
#fff,
#ddd
);

border:1px solid #777;

border-radius:0 0 10px 10px;

color:#111;

z-index:1;

box-shadow:

0 5px 10px rgba(0,0,0,.6),

inset 0 -15px 15px rgba(0,0,0,.15);

}



.white span{

position:absolute;

bottom:15px;

width:100%;

text-align:center;

font-size:12px;

font-weight:bold;

}



/* BLACK KEYS */

.black{

position:absolute;

top:0;

width:36px;

height:160px;

background:

linear-gradient(
90deg,
#333,
#000,
#111
);

border-radius:

0 0 8px 8px;

z-index:10;

box-shadow:

0 8px 15px rgba(0,0,0,.9);

}



/* PRESS */

.white.active{

background:#ffd54f;

transform:translateY(5px);

}



.black.active{

background:#ff9800;

transform:translateY(5px);

}



/* MOBILE */

@media(max-width:600px){


.top h1{

font-size:24px;

}



.white{

width:45px;

height:230px;

}



.black{

width:30px;

height:140px;

}


}
